@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Styling for the sidebar */
  input[type="checkbox"]:checked ~ .bg-gray-100 {
    opacity: 1;
    max-height: 100vh;
    pointer-events: auto;
  }
  .bg-gray  .bg-gray-100 {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
  }

  #menu-toggle:checked + .bg-gray-100 {
    opacity: 1;
    max-height: 100vh;
    pointer-events: auto;
  }
  
  #menu-toggle:checked ~ .fixed {
    display: none;
  }

  

